<!--
 * @ Name:
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-11-10 19:05:02
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2022-11-16 21:03:06
 * @ Description:
 -->
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div id="leftSideNavigation" style="float: left;"></div>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="overview" aria-selected="true"><i class="mdi mdi-shape-plus"></i> Overview</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div>
                          <p class="statistics-title">Rentals (Gcash)</p>
                          <h3 class="rate-percentage">₱<span id="totalGcash"></span><br />this year</h3>
                          <p id="totalGcashper" class="d-flex"></p>
                        </div>
                        <div>
                          <p class="statistics-title">Rentals (Walk in)</p>
                          <h3 class="rate-percentage">₱<span id="totalWalkin"></span><br />this year</h3>
                          <p id="totalWalkinper" class="d-flex"></p>
                        </div>
                        <div>
                          <p class="statistics-title">Rentals (Cash on delivery)</p>
                          <h3 class="rate-percentage">₱<span id="totalCOD"></span><br />this year</h3>
                          <p id="totalCODper" class="d-flex"></p>
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Rental Revenue</p>
                          <h3 class="rate-percentage">₱<span id="totalTR"></span><br />this year</h3>
                          <p id="totalTRper" class="d-flex"></p>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div>
                          <p class="statistics-title">Cancelled Rentals</p>
                          <h3 class="rate-percentage">43<br />this year</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-up"></i><span>5% last year</span></p>
                        </div>
                        <div>
                          <p class="statistics-title">Overdue Rentals</p>
                          <h3 class="rate-percentage"><span class="text-danger">2</span><br />Item/bundle</h3>
                          <p class="d-flex"><span style="cursor: pointer;" onclick="sessionStorage.page='1';location.reload();">view details <i class="mdi mdi-open-in-new" style="font-size: 12px;"></i></span></p>
                        </div>
                        <div>
                          <p class="statistics-title">New Transactions</p>
                          <h3 class="rate-percentage"><span class="text-warning">1</span><br />Item/bundle</h3>
                          <p class="d-flex"><span style="cursor: pointer;" onclick="sessionStorage.page='transaction';location.reload();">view details <i class="mdi mdi-open-in-new" style="font-size: 12px;"></i></span></p>
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Rentals</p>
                          <h3 class="rate-percentage">₱102,213.23<br />this year</h3>
                          <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>0.8% last year</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
	$(document).ready(function () {
    function caculatePercentage(number1, number2) {
      return (parseFloat((number1).replaceAll(',','')) / parseFloat((number2).replaceAll(',',''))) * 100;
    }
    // for Gcash
    $.ajax({
      type: "POST",
      url: "/glam/glamserver/assets/php/dashboardCRUD.php",
      data: {"TYPE": "thisYearG"},
      dataType: "json",
    }).done((data) => {
      if(data.Response != 0) {
        var this_year = data.Response;
        $('#totalGcash').html(data.Response);
        $.ajax({
          type: "POST",
          url: "/glam/glamserver/assets/php/dashboardCRUD.php",
          data: {"TYPE": "lastYearG"},
          dataType: "json",
        }).done((data) => {
          if(data.Response != 0) {
            var content = $('#totalGcashper');
            var calGper = caculatePercentage(this_year, data.Response).toFixed(2);
            if(calGper > 100) {
              content.addClass('text-success').html(`<i class="mdi mdi-menu-up"></i><span>${calGper}% last year</span>`);
            }else {
              content.addClass('text-danger').html(`<i class="mdi mdi-menu-down"></i><span>${calGper}% last year</span>`);
            }
          }else {
            console.warn(`🚀lastYearG => data`, data);
          }
        });
      }else {
        console.warn(`🚀thisYearG => data`, data);
      }
    });
    // for Walk in
    $.ajax({
      type: "POST",
      url: "/glam/glamserver/assets/php/dashboardCRUD.php",
      data: {"TYPE": "thisYearW"},
      dataType: "json",
    }).done((data) => {
      if(data.Response != 0) {
        var this_year = data.Response;
        $('#totalWalkin').html(data.Response);
        $.ajax({
          type: "POST",
          url: "/glam/glamserver/assets/php/dashboardCRUD.php",
          data: {"TYPE": "lastYearW"},
          dataType: "json",
        }).done((data) => {
          if(data.Response != 0) {
            var content = $('#totalWalkinper');
            var calGper = caculatePercentage(this_year, data.Response).toFixed(2);
            if(calGper > 100) {
              content.addClass('text-success').html(`<i class="mdi mdi-menu-up"></i><span>${calGper}% last year</span>`);
            }else {
              content.addClass('text-danger').html(`<i class="mdi mdi-menu-down"></i><span>${calGper}% last year</span>`);
            }
          }else {
            console.warn(`🚀lastYearW => data`, data);
          }
        });
      }else {
        console.warn(`🚀thisYearW => data`, data);
      }
    });
    // Cash on Delivery
    $.ajax({
      type: "POST",
      url: "/glam/glamserver/assets/php/dashboardCRUD.php",
      data: {"TYPE": "thisYearCOD"},
      dataType: "json",
    }).done((data) => {
      if(data.Response != 0) {
        var this_year = data.Response;
        $('#totalCOD').html(data.Response);
        $.ajax({
          type: "POST",
          url: "/glam/glamserver/assets/php/dashboardCRUD.php",
          data: {"TYPE": "lastYearCOD"},
          dataType: "json",
        }).done((data) => {
          if(data.Response != 0) {
            var content = $('#totalCODper');
            var calGper = caculatePercentage(this_year, data.Response).toFixed(2);
            if(calGper > 100) {
              content.addClass('text-success').html(`<i class="mdi mdi-menu-up"></i><span>${calGper}% last year</span>`);
            }else {
              content.addClass('text-danger').html(`<i class="mdi mdi-menu-down"></i><span>${calGper}% last year</span>`);
            }
          }else {
            console.warn(`🚀lastYearCOD => data`, data);
          }
        });
      }else {
        console.warn(`🚀thisYearCOD => data`, data);
      }
    });
    // total revenue
    $.ajax({
      type: "POST",
      url: "/glam/glamserver/assets/php/dashboardCRUD.php",
      data: {"TYPE": "thisYearTR"},
      dataType: "json",
    }).done((data) => {
      if(data.Response != 0) {
        var this_year = data.Response;
        $('#totalTR').html(data.Response);
        $.ajax({
          type: "POST",
          url: "/glam/glamserver/assets/php/dashboardCRUD.php",
          data: {"TYPE": "lastYearTR"},
          dataType: "json",
        }).done((data) => {
          if(data.Response != 0) {
            console.warn(`🚀 => data.Response`, data.Response);
            var content = $('#totalTRper');
            var calGper = caculatePercentage(this_year, data.Response).toFixed(2);
            if(calGper > 100) {
              content.addClass('text-success').html(`<i class="mdi mdi-menu-up"></i><span>${calGper}% last year</span>`);
            }else {
              content.addClass('text-danger').html(`<i class="mdi mdi-menu-down"></i><span>${calGper}% last year</span>`);
            }
          }else {
            console.warn(`🚀lastYearTR => data`, data);
          }
        });
      }else {
        console.warn(`🚀thisYearTR => data`, data);
      }
    });
  })
</script>
        