<!--
 * @ Name:
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-11-10 19:05:02
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2022-11-13 15:04:32
 * @ Description:
 -->
<div class="container-scroller">
  <div class="container-fluid page-body-wrapper">
    <div id="leftSideNavigation" style="float: left;"></div>
    <div class="main-panel">
      <div class="content-wrapper">
        <div class="row">
          <div class="col-sm-12">
            <div class="home-tab">
              <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                <ul class="nav nav-tabs" role="tablist">
                  <li class="nav-item">
                    <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="javascript:void(0)" role="tab" aria-controls="overview" aria-selected="true">Monthly Overview</a>
                  </li>
                </ul>
              </div>
              <div class="tab-content tab-content-basic">
                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview"> 
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div>
                          <p class="statistics-title">Rentals (Gcash)</p>
                          <h3 class="rate-percentage">₱32,213.53<br />this year</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>0.5% last year</span></p>
                        </div>
                        <div>
                          <p class="statistics-title">Rentals (Walk in)</p>
                          <h3 class="rate-percentage">₱67,682<br />this year</h3>
                          <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>0.1% last year</span></p>
                        </div>
                        <div>
                          <p class="statistics-title">Rentals (Cash on delivery)</p>
                          <h3 class="rate-percentage">₱7,682<br />this year</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8% last year</span></p>
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Rentals</p>
                          <h3 class="rate-percentage">₱102,213.23<br />this year</h3>
                          <p class="text-success d-flex"><i class="mdi mdi-menu-up"></i><span>0.8% last year</span></p>
                        </div>
                      </div>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="statistics-details d-flex align-items-center justify-content-between">
                        <div>
                          <p class="statistics-title">Cancelled Rentals</p>
                          <h3 class="rate-percentage">43<br />this year</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-up"></i><span>5% last year</span></p>
                        </div>
                        <div>
                          <p class="statistics-title">Overdue Rentals</p>
                          <h3 class="rate-percentage"><span class="text-danger">2</span><br />Item/bundle</h3>
                          <p class="d-flex"><i class="mdi mdi-menu-up"></i><span style="cursor: pointer;" onclick="sessionStorage.page='1';location.reload();">view details</span></p>
                        </div>
                        <div>
                          <p class="statistics-title">Rental (Cash on delivery)</p>
                          <h3 class="rate-percentage">₱7,682<br />this year</h3>
                          <p class="text-danger d-flex"><i class="mdi mdi-menu-down"></i><span>68.8% last year</span></p>
                        </div>
                        <div class="d-none d-md-block">
                          <p class="statistics-title">Total Rentals</p>
                          <h3 class="rate-percentage">₱102,213.23<br />this year</h3>
                          <p class="text-success d-flex"><i class="mdi mdi-menu-down"></i><span>0.8% last year</span></p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
        