<!--
 * @ Name: headerNavigation.html
 * @ Purpose:
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-10-10 20:54:09
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2022-11-01 07:57:57
 * @ Change Log:
 -->
<!-- partial:partials/_navbar.html -->
<nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
  <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
    <div>
      <a class="navbar-brand brand-logo" href="javascript:void(0)">
        Glamarouza
        <!-- <img src="images/logo.svg" alt="logo" /> -->
      </a>
      <a class="navbar-brand brand-logo-mini" href="javascript:void(0)">
        <!-- <img src="images/logo-mini.svg" alt="logo" /> -->
      </a>
    </div>
  </div>
</nav>
<!-- partial -->