<div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
        <div id="leftSideNavigation" style="float: left"></div>
        <div class="main-panel">
            <div class="content-wrapper">
                        <div class="home-tab">
                            <div class="d-sm-flex align-items-center justify-content-between border-bottom" >
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a
											class="nav-link active ps-0"
											id="home-tab"
											data-bs-toggle="tab"
											href="javascript:void(0)"
											role="tab"
											aria-controls="overview"
											aria-selected="true"
											><i class="menu-icon mdi mdi-floor-plan"></i> Walk in</a
										>
									</li>
								</ul>
							</div>
                            <div class="tab-content tab-content-basic">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                                    <div class="row">
                                        <div class="col-lg-12 d-flex flex-column">
                                            <div class="row flex-grow">
                                                <div class="col-12 grid-margin stretch-card">
                                                    <div class="card card-rounded">
                                                        <div class="card-body">
                                                            <div class="row flex-grow">
                                                                <div class="col-6 d-flex flex-column">
                                                                    <div class="form-group">
                                                                        <label for="productName"><i class="mdi mdi-regex text-danger"></i> Product Name <small class="text-muted"></small></label>
                                                                        <input type="text" class="form-control" id="productName" placeholder="Product name here..." />
                                                                    </div>
                                                                    <p id="productAvalibility" class="fw-bold col-9 d-flex flex-column clearfix"></p>
                                                                    <div id="otherDetails">
                                                                        <div class="form-group">
                                                                            <label for="productSize"><i class="mdi mdi-regex text-danger"></i> Size <small class="text-muted">(press ctrl key then click to select multiple options)</small></label>
                                                                            <select id="productSize" class="form-select" multiple></select>
                                                                        </div>
                                                                        <div id="selectedSizesBreakdown">

                                                                        </div>
                                                                    </div>
                                                                    <p id="balance" class="fw-bold"></p>
                                                                    <div class="form-group">
                                                                        <label for="AmountReceived"><i class="mdi mdi-regex text-danger"></i> Received Amount</label>
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                              <span class="input-group-text bg-primary text-white">₱ </span>
                                                                            </div>
                                                                            <input id="AmountReceived" type="Number" min="0" step=".01" class="form-control" aria-label="Amount here...">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div id="prodDetail" class="col-6 d-flex flex-column clearfix">
                                                                    
                                                                </div>
                                                                <div class="col-6 d-flex flex-column clearfix">
                                                                    <div class="col-12 d-flex flex-row">
                                                                        <div class="col-4 d-flex flex-column">
                                                                            <div class="form-group">
                                                                                <label for="productName">First Name <small class="text-muted"></small></label>
                                                                                <input type="text" class="form-control" id="productName" placeholder="Product name here..." />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 d-flex flex-column">
                                                                            <div class="form-group">
                                                                                <label for="productName">Middle Name <small class="text-muted"></small></label>
                                                                                <input type="text" class="form-control" id="productName" placeholder="Product name here..." />
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-4 d-flex flex-column">
                                                                            <div class="form-group">
                                                                                <label for="productName">Last Name <small class="text-muted"></small></label>
                                                                                <input type="text" class="form-control" id="productName" placeholder="Product name here..." />
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex flex-row">
                                                                        <div class="input-group">
                                                                            <div class="input-group-prepend">
                                                                              <span class="input-group-text bg-primary text-white">Phone Number</span>
                                                                            </div>
                                                                            <input id="AmountReceived" type="Number" min="0" step=".01" class="form-control" aria-label="Amount here...">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12 d-flex flex-row" style="padding-top: 20px;">
                                                                        <p id="amountChange" class="fw-bold col-9 d-flex flex-column clearfix"></p>
                                                                        <button id="createTransac" type="button" class="col-3 btn btn-outline-primary btn-icon-text btn-sm">
                                                                            <i class="ti-file btn-icon-prepend"></i>
                                                                            Submit
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#otherDetails, #createTransac').hide();
    var getResponse      = [];
    var autoCompleteData = [];
    var selectedProducts = [];
    var selectedProduct  = '';
    var currentIndex;
    var toPay            = 0;
    var prevAmount       = 0;
    var customerChange   = 0;
    $('#balance').html(`To Pay: ₱ ${toPay.toFixed(2)}`);
$.ajax({
    type: 'POST',
    data: {'TYPE' : 'getAllProducts'},
    url: "/glam/glamserver/assets/php/productCRUD.php", //My reference URL
    dataType : 'json'
}).done((data) => {
    data.forEach(row => {
        getResponse = [...getResponse, row];
        autoCompleteData = [...autoCompleteData, row.gp_name];
    });
    getResponse.map(row => {
        row.currentCount = row.gp_count;
        return row;
    });
    $('#productName').autofill({
        minCharacters: 1,
        values: autoCompleteData,
        onSelect: (item) => {
            $('#productSize').html('');
            var temp             = [];
            var tempo            = [];
            var checkInSelection = -1;
            tempo = getResponse[getResponse.findIndex(row => row.gp_name == item.object)];
            if(tempo.gp_count > 0) {
                if(tempo.gp_description.includes('[') || tempo.gp_description.includes('{')) {
                    temp    = tempo.gp_description.replace(/[{}]/g, "").split(':');
                    temp[1] = temp[1].split('",');
                    temp[0] = temp[1][0].replace(/["]/g, "");
                    if(temp.length > 2) {
                        temp[2] = JSON.parse(temp[2].substring(1).slice(0,-1));
                    }else {      
                        temp[2] = 'All size';
                    }
                }else {
                    temp[0] = tempo.gp_description;
                    temp[2] = 'All size';
                }
                if(temp[2] != 'All size') {
                    temp[2].forEach(row => {
                        $('#productSize').append(`<option value="${row}">${row}</option>`);
                    });
                }else {
                    $('#productSize').append(`<option value="${temp[2]}">${temp[2]}</option>`);
                }
                checkInSelection = selectedProducts.findIndex(row => row.gp_name === item.object);
                if(checkInSelection === -1) {
                    selectedProducts = [...selectedProducts, tempo];
                    $('#productAvalibility').html(`Avalable: ${tempo.gp_count}`);
                }else {
                    $('#productAvalibility').html(`Avalable: ${selectedProducts[checkInSelection].currentCount}`);
                    $('#productSize').val(selectedProducts[checkInSelection].selectedSize);
                }
                currentIndex = tempo.gpId;
                $('#otherDetails').show();
            } else {
                $.notify({
                    title: 'Product Availability!',
                    message: `There are no more stock on the selected item.`,
                },{
                    showProgressbar: true,
                    type: "warning",
                    allow_dismiss: false,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
            } 
        },
        onError: (err) => {
            console.error(`🚀 => err`, err);
        },
    });
});
$('#productName').on('keydown', (event) => {
    if(event.which === 27){
        event.currentTarget.value = '';
        $('#otherDetails').hide();
        $('#productAvalibility').html(``);
    }
});
$('#productSize').on('change', (event) => {
    $('#selectedSizesBreakdown').html('');
    var productSizes = $(event.target).val();
    var total = 0;
    selectedProducts.filter(row => {
        if(row.gpId !== currentIndex) {
            if('selectedSizeCount' in row) {
                total += (row.selectedSizeCount.length * row.gp_price);
            }
        }
    });
    selectedProducts.map((row) => {
        if(row.gpId === currentIndex) {
            row.selectedSize = productSizes;
            if(!'currentCount' in row) {
                row.currentCount = row.gp_count;
            }
            if(!'selectedSizeCount' in row) {
                row.selectedSizeCount = 0;
            }
            if(row.selectedSizeCount != productSizes.length) {
                if(productSizes.length > row.gp_count) {
                    $.notify({
                        title: 'Product Availability!',
                        message: `There are no more stock on the selected item.`,
                    },{
                        showProgressbar: true,
                        type: "warning",
                        allow_dismiss: false,
                        placement: {
                            from: 'top',
                            align: 'right'
                        }
                    });
                    return;
                }
                row.currentCount = row.gp_count;
                toPay = total;
                if(row.currentCount >= productSizes.length) {
                    row.currentCount -= productSizes.length;
                    toPay += (parseFloat(row.gp_price * productSizes.length));
                }
                row.selectedSizeCount = productSizes.length;
                $('#productAvalibility').html(`Avalable: ${row.currentCount}`);
            }
            if(row.gp_count > row.currentCount && productSizes.length !== row.gp_count) {
                productSizes.forEach(inrow => {
                    $('#selectedSizesBreakdown').append(`
                        <div class="form-group">
                            <label for="size${inrow}">For size ${inrow}<small class="text-muted"></small></label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text bg-primary text-white">₱ </span>
                                </div>
                                <input id="size${inrow}" data-value="1" type="Number" min="1" max="${(row.currentCount + 1)}" step="1" value="1" onchange="countPerSize(this)" class="form-control" aria-label="Size Count">
                            </div>
                        </div>
                    `);
                });
            }
            getResponse = [...getResponse, row];
        }
        return row;
    });
    displayDetails();
    $('#balance').html(`To Pay: ₱ ${toPay.toFixed(2)}`);
});
$('#AmountReceived').on('change', (event) => {
    if(selectedProducts.length == 0) {
        $.notify({
            title: 'Error!',
            message: `No selected product to create transaction.`,
        },{
            showProgressbar: true,
            type: "danger",
            allow_dismiss: false,
            placement: {
                from: 'top',
                align: 'right'
            }
        });
        $('#createTransac').hide();
        $('#AmountReceived').val('');
    }else {
        customerChange = event.currentTarget.value - toPay;
        if(customerChange < 0) {
            $.notify({
                title: 'Payment not enough!',
                message: `Receive amount should be greater than the amount to pay.`,
            },{
                showProgressbar: true,
                type: "warning",
                allow_dismiss: false,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
        }else {
            $('#createTransac').show();
            $('#amountChange').html(`Change: ₱ ${customerChange.toFixed(2)}`);
        }
    }
});
$('#createTransac').on('click', event => {
    $.ajax({
        type: "POST",
        url: "/glam/glamserver/assets/php/transactionCRUD.php",
        data: {"TYPE": "newTransaction","transactionRecords": selectedProducts},
        dataType: "json",
    }).done((data) => {
        if(data.Response != 0) {
            $.notify({
                title: 'Success!',
                message: `Transaction created.`,
            },{
                showProgressbar: true,
                type: "success",
                allow_dismiss: false,
                placement: {
                    from: 'top',
                    align: 'right'
                }
            });
            sessionStorage.page='rentalStat';
            location.reload();
        }else {
            console.warn(`🚀newTransaction => data`, data);
        }
    });
});
countPerSize = (event) => {
    var total = 0;
    selectedProducts.filter(row => {
        if(row.gpId !== currentIndex) {
            if('selectedSizeCount' in row) {
                total += parseFloat(row.selectedSizeCount * row.gp_price);
            }
        }
    });
    selectedProducts.map((row) => {
        if(row.gpId === currentIndex) {
            toPay = total;
            if(row.selectedSizeCount == row.gp_count && event.value > event.dataset.value) {
                $.notify({
                    title: 'Product Availability!',
                    message: `There are no more stock on the selected item.`,
                },{
                    showProgressbar: true,
                    type: "warning",
                    allow_dismiss: false,
                    placement: {
                        from: 'top',
                        align: 'right'
                    }
                });
                event.value = event.value - 1;
                return;
            }
            if(event.value > event.dataset.value) {
                row.currentCount -= 1;
                row.selectedSizeCount += 1;
                toPay += parseFloat(row.gp_price * row.selectedSizeCount);
            }else {
                row.currentCount += 1;
                row.selectedSizeCount -= 1;
                toPay = parseFloat(prevAmount - row.gp_price);
            }
            $('#productAvalibility').html(`Avalable: ${row.currentCount}`);
            prevAmount = toPay;
            $('#balance').html(`To Pay: ₱ ${toPay.toFixed(2)}`);
            getResponse = [...getResponse, row];
            displayDetails();
            event.dataset.value = event.value;
        }
        return row;
    });
}
removeSelected = (event) => {
    var tempo = selectedProducts[selectedProducts.findIndex((row) => row.gpId == event.dataset.id)];
    toPay -= parseFloat((tempo.gp_price * tempo.selectedSize.length));
    tempo.gp_count += tempo.selectedSize.length;
    getResponse = [...getResponse, tempo];
    selectedProducts.slice(selectedProducts.findIndex(row => {return row.gpId === event.dataset.id}));
    event.parentNode.parentNode.removeChild(event.parentNode);
    $('#balance').html(`To Pay: ₱ ${toPay.toFixed(2)}`);
    $('#productName').val('');
    $('#otherDetails').hide();
    $('#productAvalibility').html(``);
}
displayDetails = () => {
    $('#prodDetail').html(``);
    selectedProducts.forEach((row) => {
        var temp = [];
        if(row.gp_description.includes('[') || row.gp_description.includes('{')) {
            temp = row.gp_description.replace(/[{}]/g, "").split(':');
            temp[1] = temp[1].split('",');
            temp[0] = temp[1][0].replace(/["]/g, "");
        }else {
            temp[0] = row.gp_description;
        }
        $('#prodDetail').append(`
            <div id="p${row.gpId}" class="border-bottom border-primary m-2">
                <button type="button" title="Remove" class="btn-close float-end" data-id="${row.gpId}" onclick="removeSelected(this)"></button>
                <div class="float-start">
                    <p class="fw-bold">Product Name: ${row.gp_name}</p>
                    <p class="fw-bold">Description: ${temp[0]}</p>
                    <p class="fw-bold">Sizes: ${row.selectedSize}</p>
                    <p class="fw-bold">Price: ₱ ${row.gp_price}</p>
                    <p class="fw-bold">Type: ${row.gp_type}</p>
                    <hr />
                    <p class="fw-bold">Selected: ${row.selectedSizeCount}</p>
                </div>
            </div>
        `);
    });
}
</script>