<!--
 * @ Name: passwordreset.html
 * @ Purpose: sends email to user with there token to access the system
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-09-30 10:07:08
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2022-11-13 21:25:51
 * @ Change Log:
 -->
<article id="resetPasswordPage">
    <div class="loginBox">
        <div class="loginForm">
            <br /><br />
            <h2>Reset Password</h2>
            <div class="loginInputBox">
                <input type="email" name="email" required="required" />
                <span>Email Address</span>
                <i></i>
            </div>
            <br />
            <input type="submit" value="Send Email" />
            <br /><br />
            <aside class="errorMessage text-danger"></aside>
        </div>
    </div>
</article>
<script>
    $('input[type="submit"]').on('click', (event) => {
        var fields = [
          'input[type="email"]'
        ],
        fieldCounter = 0;
        if($(fields[0]).val() === '') {
            $(fields[0]).focus();
            $('.errorMessage').html('<i class="mdi mdi-alert-octagon"></i> Email Address field is Empty!');
        }else {
            fieldCounter++;
        }
        if(fieldCounter == fields.length) {
            $.ajax({
                type: "POST",
                url: "/glam/glamserver/assets/php/login.php",
                data: {"TYPE": "resetaccount","email": $(fields[0]).val()},
                dataType: "json",
            }).done((data) => {
                var result = data;
                if(result.STATUS == 0) {
                    $('.errorMessage').html('<i class="mdi mdi-alert-octagon"></i> Email Address not found!');
                    $('input[type="email"]').val('');
                    setTimeout( () => {
                    $('input[type="email"]').focus();
                    },1000);
                }else {
                    $('.errorMessage').removeClass('text-danger').addClass('text-success').html('<i class="mdi mdi-checkbox-marked-circle-outline"></i> ' + result.STATUS);
                    setTimeout( () => {
                        location.reload();
                    },1200);
                }
            });
        }
    });
    $('input[type="email"]').on('keydown', (event) => {
        $('.errorMessage').html('');
    });
    $('input[type="email"]').on('change', (event) => {
        var re = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/,
            elemValidation = re.test($('input[type="email"]').val()),
            elemEmpty = $('input[type="email"]').is(':empty');

        if(!elemValidation && elemEmpty) {
            $('input[type="email"]').val('').focus();
            $('.errorMessage').html('<i class="mdi mdi-alert-octagon"></i> Invalid Email Address!');
        }
    });
</script>