<!--
 * @ Name: product.html
 * @ Purpose:
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-09-15 09:11:53
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2022-11-03 21:54:59
 * @ Change Log:
 -->
<div class="container-scroller">
	<div class="container-fluid page-body-wrapper">
		<div id="leftSideNavigation" style="float: left"></div>
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<div class="home-tab">
							<div
								class="d-sm-flex align-items-center justify-content-between border-bottom"
							>
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a
											class="nav-link active ps-0"
											id="home-tab"
											data-bs-toggle="tab"
											href="javascript:void(0)"
											role="tab"
											aria-controls="overview"
											aria-selected="true"
											>Products</a
										>
									</li>
								</ul>
							</div>
							<div class="tab-content tab-content-basic">
								<div
									class="tab-pane fade show active"
									id="overview"
									role="tabpanel"
									aria-labelledby="overview"
								>
									<div class="row">
										<div class="col-lg-12 d-flex flex-column">
											<div class="row flex-grow">
												<div class="col-12 grid-margin stretch-card">
													<div class="card card-rounded">
														<div class="card-body">
															<table
																id="productTable"
																class="table table-striped"
																style="width: 100%"
															>
																<thead>
																	<tr>
																		<th></th>
																		<th>Id</th>
																		<th>Product Image</th>
																		<th>Product QR</th>
																		<th>Name</th>
																		<th>Description</th>
																		<th>Type</th>
																		<th>Availability</th>
																		<th>Price</th>
																	</tr>
																</thead>
															</table>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal -->
				<div class="modal fade bd-example-modal-lg" id="ProductModal" tabindex="-1" role="dialog" aria-labelledby="ProductModalTitle" aria-hidden="true">
					<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLongTitle">Product Record</h5>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<label for="productImage">Product Image</label>
								<input type="file" class="form-control form-control-lg" id="productImage" accept="image/jpeg" placeholder="Product image here...">
							</div>
							<div class="form-group">
								<label for="productName">Product Name</label>
								<input type="text" class="form-control" id="productName" placeholder="Product name here...">
							</div>
							<div class="form-group">
								<label for="productDescription">Description</label>
								<textarea class="form-control form-control-lg" id="productDescription" rows="20" placeholder="Product description here..."></textarea>
							</div>
							<div class="form-group">
								<label for="productType">Product Type</label>
								<select class="form-control" id="productType">
								  <option>Casual</option>
								  <option>Formal</option>
								  <option>Wedding</option>
								  <option>Swim wear</option>
								</select>
							</div>
							<div class="form-group">
								<label for="productAmount">Product Amount</label>
								<div class="input-group">
								  <div class="input-group-prepend">
									<span class="input-group-text bg-primary text-white">₱ </span>
								  </div>
								  <input id="productAmount" type="text" class="form-control" aria-label="Amount (to the nearest peso)">
								</div>
							</div>
							<div class="form-group">
								<label for="productGcashQR">Gcash QR Image</label>
								<input type="file" class="form-control form-control-lg" id="productGcashQR" accept="image/jpeg" placeholder="Gcash qr image here...">
							</div>
						</div>
						<div class="modal-footer">
						<button id="saveRecord" type="button" class="btn btn-primary">Save changes</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	$(document).ready(function () {
		function format(d) {
			return (
				`<div style="display: flex;flex-direction: row;">
					<div style="padding: 10px;">
						<p>
							QR Code
							${d.gp_gcash_qr}
						</p>
					</div>
					<div style="padding: 10px;">
						<p>
							Product Image
							${d.gp_product_img}
						</p>
					</div>
				</div>`
			);
		}
		var recordCount = 0;
		var table = $("#productTable").DataTable({
			dom: "Bfrtip",
			select: true,
			scrollX: true,
			buttons: [{
				text: "<i class='icon-doc'></i> New Record",
				className: "createProductRecord",
				action: function( e, dt, node, config ) {
					recordCount = dt.rows().count();
					$('#saveRecord').html($('#saveRecord').text().replace('Update','Save'));
					$('#productName,#productDescription,#productType,#productAmount,#productImage,#productGcashQR').val('');
					$('#ProductModal').modal('show');
				}
			},{
                text: 'Update Selected Row',
                action: function ( e, dt, node, config ) {
					var record = dt.row('.selected').data();
					$('#saveRecord').val(record.gpId);
					$('#productName').val(record.gp_name);
					$('#productDescription').val(record.gp_description);
					$('#productType').val(record.gp_type);
					record.gp_price = record.gp_price.split('.');
					record.gp_price[0] = record.gp_price[0].replace(/\₱ /g, "");
					record.gp_price[3] = record.gp_price[0] +'.'+ record.gp_price[1];
					$('#productAmount').val(parseFloat(record.gp_price[3]).toFixed(2));
					$('#saveRecord').html($('#saveRecord').text().replace('Save','Update'));
					$('#ProductModal').modal('show');
                },
				enabled: false
            },{
                extend: 'pdfHtml5',
				text:      '<i class="icon-docs"></i> Generate PDF',
				title: 'Product Records',
                titleAttr: 'PDF',
                orientation: 'landscape',
                pageSize: 'LEGAL',
				download: 'open'
            }],
			processing: true,
			serverSide: true,
			ajax: "assets/php/product.php",
			columns: [
					{
						class: 'details-control',
						orderable: false,
						data: null,
						defaultContent: "<i class='icon-plus'></i>",
					},
					{ data: 'gpId'},
					{ data: 'gp_product_img' },
					{ data: 'gp_gcash_qr' },
					{ data: 'gp_name' },
					{ data: 'gp_description' },
					{ data: 'gp_type' },
					{ data: 'gp_availability'},
					{ data: 'gp_price' },
			],
			columnDefs: [
				{
					target: [1,2,3],
					visible: false,
					searchable: false,
				},
        	],
			order: [[4, 'asc']],
			initComplete: function () {

			}
		});
		$('#productTable tbody').on('click', 'tr', function () {
			var selectedRows;
			if ($(this).hasClass('selected')) {
				$(this).removeClass('selected');
				selectedRows = table.$('tr.selected').length;
			} else {
				table.$('tr.selected').removeClass('selected');
				$(this).addClass('selected');
				selectedRows = table.$('tr.selected').length;
			}
			table.button( 1 ).enable( selectedRows === 1 );
		});
		// Array to track the ids of the details displayed rows
		var detailRows = [];
 
		$('#productTable tbody').on('click', 'tr td.details-control', function () {
			var tr = $(this).closest('tr');
			var row = table.row(tr);
			var idx = detailRows.indexOf(tr.attr('id'));
	 
			if (row.child.isShown()) {
				tr.removeClass('details');
				row.child.hide();
	 
				// Remove from the 'open' array
				detailRows.splice(idx, 1);
			} else {
				tr.addClass('details');
				row.child(format(row.data())).show();
	 
				// Add to the 'open' array
				if (idx === -1) {
					detailRows.push(tr.attr('id'));
				}
			}
		});
	 
		// On each draw, loop over the `detailRows` array and show any child rows
		table.on('draw', function () {
			detailRows.forEach(function(id, i) {
				$('#' + id + ' td.details-control').trigger('click');
			});
		});
		$('#saveRecord').on('click', (event) => {
			var form = new FormData();
			var myFormData = document.getElementById('productImage').files[0]; //get the file 
			var myFormData2 = document.getElementById('productGcashQR').files[0]; //get the file 
			if(event.currentTarget.innerText.includes('Update')) {
				if (myFormData) {   //Check the file is emty or not
					form.append('inputFile', myFormData); //append files
					$.ajax({
						type: 'POST',               
						processData: false,
						contentType: false, 
						data: form,
						url: "/glam/glamserver/assets/php/saveImage.php", //My reference URL
						dataType : 'json',  
						success: function(jsonData){
							console.warn("Log:  => $ => jsonData", jsonData);
						}
					});
				}
				form = new FormData();
				if (myFormData2) {   //Check the file is emty or not
					form.append('inputFile', myFormData2); //append files
					$.ajax({
						type: 'POST',               
						processData: false,
						contentType: false, 
						data: form,
						url: "/glam/glamserver/assets/php/saveqr.php", //My reference URL
						dataType : 'json',  
						success: function(jsonData){
							console.warn("Log:  => $ => jsonData", jsonData);
						}
					});
				}

				var loadData = [];
				var recordData = '';
				if($('#productName').val()) {
					recordData += `gp_name = '${$('#productName').val()}', `;
				}
				if($('#productDescription').val()) {
					recordData += `gp_description = '${$('#productDescription').val()}', `;
				}
				if($('#productType').val()) {
					recordData += `gp_type = '${$('#productType').val()}', `;
				}
				if($('#productAmount').val()) {
					recordData += `gp_price = '${$('#productAmount').val()}'`;
				}
				if(myFormData) {
					recordData += `, gp_product_img = '${myFormData.name}'`;
				}
				if(myFormData2) {
					recordData += `, gp_gcash_qr = '${myFormData2.name}'`;
				}
				loadData = [{...loadData, TYPE: "updateProduct", filter: `gpId = ${$('#saveRecord').val()}`, params: recordData}];
				$.ajax({
					type: "POST",
					url: "/glam/glamserver/assets/php/productCRUD.php",
					data: loadData[0],
					dataType: "json",
				  }).done((data) => {
					  console.warn("Log:  => $ => data", data);
				  });
				$('#ProductModal').modal('hide');
				table.draw();
			}else {
				if (myFormData) {   //Check the file is emty or not
					form.append('inputFile', myFormData); //append files
					$.ajax({
						type: 'POST',               
						processData: false,
						contentType: false, 
						data: form,
						url: "/glam/glamserver/assets/php/saveImage.php", //My reference URL
						dataType : 'json',  
						success: function(jsonData){
							console.warn("Log:  => $ => jsonData", jsonData);
						}
					});
				}
				form = new FormData();
				if (myFormData2) {   //Check the file is emty or not
					form.append('inputFile', myFormData2); //append files
					$.ajax({
						type: 'POST',               
						processData: false,
						contentType: false, 
						data: form,
						url: "/glam/glamserver/assets/php/saveqr.php", //My reference URL
						dataType : 'json',  
						success: function(jsonData){
							console.warn("Log:  => $ => jsonData", jsonData);
						}
					});
				}
				
				var loadData = [];
				var recordData = `${recordCount}, `;
				if($('#productName').val()) {
					recordData += `"${$('#productName').val()}", `;
				}
				if($('#productDescription').val()) {
					recordData += `"${$('#productDescription').val()}", `;
				}
				if($('#productType').val()) {
					recordData += `"${$('#productType').val()}", 1, `;
				}
				if($('#productAmount').val()) {
					recordData += `${$('#productAmount').val()}`;
				}
				if(myFormData) {
					recordData += `, "${myFormData.name}"`;
				}
				if(myFormData2) {
					recordData += `, "${myFormData2.name}"`;
				}
				loadData = [{...loadData, TYPE: "createProduct", params: recordData}];
				$.ajax({
					type: "POST",
					url: "/glam/glamserver/assets/php/productCRUD.php",
					data: loadData[0],
					dataType: "json",
				  }).done((data) => {
					  console.warn("Log:  => $ => data", data);
				  });
				$('#ProductModal').modal('hide');
				table.draw();
			}
		});
	});
</script>
