<!--
 * @ Name: registestration.html
 * @ Purpose: sends email to user with there token to access the system
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-09-30 10:07:08
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2023-01-08 23:39:35
 * @ Change Log:
 -->
<article id="resetPasswordPage">
    <div class="loginBox2">
        <div class="loginForm2">
            <br /><br />
            <h2>Registration</h2>
            <div class="registrationContent">
                <div class="loginInputBox">
                    <input type="text" name="firstName" required="required" />
                    <span>First Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="text" name="middleName" required="required" />
                    <span>Middle Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="text" name="lastName" required="required" />
                    <span>Last Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="text" name="userName" required="required" />
                    <span>User Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="password" name="password" required="required" />
                    <span>Password</span>
                    <i></i>
                </div>
                <br />
            </div>
            <br />
            <input type="submit" value="Submit" />
            <br /><br />
            <aside class="errorMessage text-danger"></aside>
        </div>
    </div>
</article>
<script>
    $('input[type="submit"]').on('click', (event) => {
        var fields = [
          'input[name="firstName"]',
          'input[name="middleName"]',
          'input[name="lastName"]',
          'input[name="userName"]',
          'input[name="password"]'
        ],fieldLabel = [
          'First Name',
          'Middle Name',
          'Last Name',
          'Username',
          'Password'
        ],
        fieldCounter = 0;
        for(var i = 0; i < fields.length; i++) {
            if($(fields[i]).val() === '') {
                $(fields[i]).focus();
                $('.errorMessage').html('<i class="mdi mdi-alert-octagon"></i> ' + fieldLabel[i] + ' field is Empty');
                break;
            }else {
                fieldCounter++;
            }
        }
        if(fieldCounter == fields.length) {
            var userdata = `"${$('input[name="userName"]').val()}","${$('input[name="password"]').val()}","", 1`,
            customerdata = `"${$('input[name="firstName"]').val()}","${$('input[name="middleName"]').val()}","${$('input[name="lastName"]').val()}"`;
            $.ajax({
                type: "POST",
                url: "/glam/glamserver/assets/php/login.php",
                data: {"TYPE": "clientregistration","userData": userdata,"customerData": customerdata},
                dataType: "json",
            }).done((data) => {
                var result = data;
                // if(result.STATUS == 0) {
                //     $('.errorMessage').html('<i class="mdi mdi-alert-octagon"></i> Email Address not found!');
                //     $('input[type="email"]').val('');
                //     setTimeout( () => {
                //     $('input[type="email"]').focus();
                //     },1000);
                // }else {
                //     $('.errorMessage').removeClass('text-danger').addClass('text-success').html('<i class="mdi mdi-checkbox-marked-circle-outline"></i> ' + result.STATUS);
                //     setTimeout( () => {
                //         location.reload();
                //     },1200);
                // }
            });
        }
    });
    
</script>