<!--
 * @ Name: registestration.html
 * @ Purpose: sends email to user with there token to access the system
 * @ Author: Ramel Niño O. Empleo
 * @ Create Time: 2022-09-30 10:07:08
 * @ Modified by: Ramel Niño O. Empleo
 * @ Modified time: 2023-01-09 09:34:43
 * @ Change Log:
 -->
<article id="resetPasswordPage">
    <div class="loginBox2">
        <div class="loginForm2">
            <br /><br />
            <h2>Registration</h2>
            <div class="registrationContent">
                <div class="loginInputBox">
                    <input type="text" name="firstName" required="required" />
                    <span>First Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="text" name="middleName" required="required" />
                    <span>Middle Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="text" name="lastName" required="required" />
                    <span>Last Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="text" name="userName" required="required" />
                    <span>User Name</span>
                    <i></i>
                </div>
                <div class="loginInputBox">
                    <input type="password" name="password" required="required" />
                    <span>Password</span>
                    <i></i>
                </div>
                <br />
            </div>
            <br />
            <input type="submit" value="Submit" />
            <br /><br />
            <aside class="errorMessage text-danger"></aside>
        </div>
    </div>
</article>
<script>
    $('input[type="submit"]').on('click', (event) => {
        var fields = [
          'input[name="firstName"]',
          'input[name="lastName"]',
          'input[name="userName"]',
          'input[name="password"]'
        ],fieldLabel = [
          'First Name',
          'Last Name',
          'Username',
          'Password'
        ],
        fieldCounter = 0;
        for(var i = 0; i < fields.length; i++) {
            if($(fields[i]).val() === '') {
                $(fields[i]).focus();
                $('.errorMessage').html('<i class="mdi mdi-alert-octagon"></i> ' + fieldLabel[i] + ' field is Empty');
                break;
            }else {
                fieldCounter++;
            }
        }
        if(fieldCounter == fields.length) {
            var userdata = `"${$('input[name="userName"]').val()}","${$('input[name="password"]').val()}","", 1`,
            customerdata = `"${$('input[name="firstName"]').val()}","${$('input[name="middleName"]').val()}","${$('input[name="lastName"]').val()}","","",63`;
            $.ajax({
                type: "POST",
                url: "/glam/glamserver/assets/php/login.php",
                data: {"TYPE": "clientregistration","userData": userdata,"customerData": customerdata},
                dataType: "json",
            }).done((data) => {
                var result = data;
                if(result.STATUS == 0) {
                    $('.errorMessage').html('<i class="mdi mdi-account-off"></i> User not found');
                    $('input[type="text"],input[type="password"]').val('');
                    setTimeout( () => {
                        $('input[type="text"]').focus();
                    },1000);
                }else {
                    if(result.USERTYPE == 0) {
                        sessionStorage.setItem("page", '1');
                        sessionStorage.setItem("userId", result.USER);
                    }else {
                        sessionStorage.setItem("page", '2');
                        sessionStorage.setItem("userId", result.USER);
                    }
                    $('.errorMessage').removeClass('text-danger').addClass('text-success').html('<i class="mdi mdi-account-check"></i> User verified');
                    setTimeout( () => {
                        location.reload();
                    },800);
                }
            });
        }
    });
    
</script>