<!-- partial:partials/_sidebar.html -->
<nav class="sidebar" id="sidebar">
<ul class="nav">
    <li class="nav-item dashboard">
    <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page='1';location.reload();">
        <i class="menu-icon mdi mdi-shape-plus"></i>
        <span class="menu-title">Dashboard</span>
    </a>
    </li>
    <li class="nav-item nav-category">Product Section</li>
    <li class="nav-item product">
    <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page='product';location.reload();">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Products</span>
    </a>
    </li>
    <li class="nav-item transaction">
        <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page='transaction';location.reload();">
            <i class="menu-icon mdi mdi-layers-outline"></i>
            <span class="menu-title">Transactions</span>
        </a>
    </li>
    <li class="nav-item nav-category">System Section</li>
    <li class="nav-item userSettings">
        <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page='userSettings';location.reload();">
            <i class="menu-icon mdi mdi-account-circle-outline"></i>
            <span class="menu-title">User Setting</span>
        </a>
    </li>
</ul>
<!-- <div class="card">
    <div class="card-body">
      <div class="d-flex align-items-center justify-content-between mb-3">
        <h4 class="card-title card-title-dash">Activities</h4>
      </div>
      <ul class="bullet-line-list">
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
            <p>Just now</p>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Oliver Noah</span> assign you a task</div>
            <p>1h</p>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Jack William</span> assign you a task</div>
            <p>1h</p>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Leo Lucas</span> assign you a task</div>
            <p>1h</p>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Thomas Henry</span> assign you a task</div>
            <p>1h</p>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
            <p>1h</p>
          </div>
        </li>
        <li>
          <div class="d-flex justify-content-between">
            <div><span class="text-light-green">Ben Tossell</span> assign you a task</div>
            <p>1h</p>
          </div>
        </li>
      </ul>
      <div class="list align-items-center pt-3">
        <div class="wrapper w-100">
          <p class="mb-0">
            <a href="#" class="fw-bold text-primary">Show all <i class="mdi mdi-arrow-right ms-2"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div> -->
</nav>
<script>
    if(sessionStorage.page === '1') {
        $("li.dashboard").addClass('active');
    }else {
        $("li." + sessionStorage.page).addClass('active');
    }
</script>
<!-- partial -->