<!-- partial:partials/_sidebar.html -->
<nav class="sidebar" id="sidebar">
<ul class="nav">
    <li class="nav-item" onclick="sessionStorage.page=1;location.reload();">
    <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page=1;">
        <i class="mdi mdi-grid-large menu-icon"></i>
        <span class="menu-title">Dashboard</span>
    </a>
    </li>
    <li class="nav-item nav-category">Product Settings</li>
    <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page=2;location.reload();">
        <i class="menu-icon mdi mdi-table"></i>
        <span class="menu-title">Product</span>
    </a>
    </li>
    <li class="nav-item">
    <a class="nav-link" href="javascript:void(0)" onclick="sessionStorage.page=1;location.reload();">
        <i class="menu-icon mdi mdi-floor-plan"></i>
        <span class="menu-title">Report</span>
    </a>
    </li>
</ul>
</nav>
<!-- partial -->