<div class="container-scroller">
	<div class="container-fluid page-body-wrapper">
		<div id="leftSideNavigation" style="float: left"></div>
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<div class="home-tab">
							<div
								class="d-sm-flex align-items-center justify-content-between border-bottom"
							>
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a
											class="nav-link active ps-0"
											id="home-tab"
											data-bs-toggle="tab"
											href="javascript:void(0)"
											role="tab"
											aria-controls="overview"
											aria-selected="true"
											><i class="mdi mdi-settings" style="font-size: 12px;"></i> Settings</a
										>
									</li>
								</ul>
							</div>
							<div class="tab-content tab-content-basic">
								<div
									class="tab-pane fade show active"
									id="overview"
									role="tabpanel"
									aria-labelledby="overview"
								>
									<div class="row">
										<div class="col-lg-12 d-flex flex-column">
											<div class="row flex-grow">
												<div class="col-lg-6 grid-margin stretch-card">
													<div class="card">
													  <div class="card-body">
													    <h4 class="card-title">Categories</h4>
													    <p class="card-description">
														<button type="button" class="btn btn-primary btn-sm">new category</button>
													    </p>
													    <div class="table-responsive">
														 <table class="table">
														   <thead>
															<tr>
															  <th>Profile</th>
															  <th>VatNo.</th>
															  <th>Created</th>
															  <th>Status</th>
															</tr>
														   </thead>
														   <tbody>
															<tr>
															  <td>Jacob</td>
															  <td>53275531</td>
															  <td>12 May 2017</td>
															  <td><label class="badge badge-danger">Pending</label></td>
															</tr>
															<tr>
															  <td>Messsy</td>
															  <td>53275532</td>
															  <td>15 May 2017</td>
															  <td><label class="badge badge-warning">In progress</label></td>
															</tr>
															<tr>
															  <td>John</td>
															  <td>53275533</td>
															  <td>14 May 2017</td>
															  <td><label class="badge badge-info">Fixed</label></td>
															</tr>
															<tr>
															  <td>Peter</td>
															  <td>53275534</td>
															  <td>16 May 2017</td>
															  <td><label class="badge badge-success">Completed</label></td>
															</tr>
															<tr>
															  <td>Dave</td>
															  <td>53275535</td>
															  <td>20 May 2017</td>
															  <td><label class="badge badge-warning">In progress</label></td>
															</tr>
														   </tbody>
														 </table>
													    </div>
													  </div>
													</div>
												</div>
												<div class="col-lg-6 grid-margin stretch-card">
													<div class="card">
													  <div class="card-body">
													    <h4 class="card-title">Basic Table</h4>
													    <p class="card-description">
														 Add class <code>.table</code>
													    </p>
													    <div class="statistics-details d-flex align-items-center justify-content-between">
															<div>
																<p class="statistics-title">Penalty</p>
																<h3 class="rate-percentage">₱100 per day</h3>
															</div>
															<!-- <div>
															<p class="statistics-title">Rentals (Walk in)</p>
															<h3 class="rate-percentage">₱<span id="totalWalkin"></span><br />this year</h3>
															<p id="totalWalkinper" class="d-flex"></p>
															</div>
															<div>
															<p class="statistics-title">Rentals (Cash on delivery)</p>
															<h3 class="rate-percentage">₱<span id="totalCOD"></span><br />this year</h3>
															<p id="totalCODper" class="d-flex"></p>
															</div>
															<div class="d-none d-md-block">
															<p class="statistics-title">Total Rental Revenue</p>
															<h3 class="rate-percentage">₱<span id="totalTR"></span><br />this year</h3>
															<p id="totalTRper" class="d-flex"></p>
															</div> -->
														</div>
													  </div>
													</div>
												</div>
												<div class="col-12 grid-margin stretch-card">
													<div class="card card-rounded">
														<div class="card-body">
															<div class="template-demo d-flex justify-content-between flex-nowrap">
																<button type="button" class="btn btn-info btn-icon-text" onclick="sessionStorage.page=0;location.reload();">
																	<i class="icon-logout"></i> Logout                                                                            
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>