<div class="container-scroller">
	<div class="container-fluid page-body-wrapper">
		<div id="leftSideNavigation" style="float: left"></div>
		<div class="main-panel">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-sm-12">
						<div class="home-tab">
							<div
								class="d-sm-flex align-items-center justify-content-between border-bottom"
							>
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item">
										<a
											class="nav-link active ps-0"
											id="home-tab"
											data-bs-toggle="tab"
											href="javascript:void(0)"
											role="tab"
											aria-controls="overview"
											aria-selected="true"
											><i class="mdi mdi-settings" style="font-size: 12px;"></i> Settings</a
										>
									</li>
								</ul>
							</div>
							<div class="tab-content tab-content-basic">
								<div
									class="tab-pane fade show active"
									id="overview"
									role="tabpanel"
									aria-labelledby="overview"
								>
									<div class="row">
										<div class="col-lg-12 d-flex flex-column">
											<div class="row flex-grow">
												<div class="col-12 grid-margin stretch-card">
													<div class="card card-rounded">
														<div class="card-body">
															<div class="statistics-details d-flex align-items-center justify-content-between">
																<div>
																  <p class="statistics-title">Penalty</p>
																  <h3 class="rate-percentage">₱<pan id="penaltyVal" contenteditable="true"></pan> per day</h3>
																</div>
																<div>
																	<p class="statistics-title">Shipping Fee</p>
																	<h3 class="rate-percentage">₱<pan id="shippingfee" contenteditable="true"></pan> per delivery</h3>
																</div>
																<div>
																	<p class="statistics-title">Item due in</p>
																	<h3 class="rate-percentage"><pan id="dueDate" contenteditable="true"></pan> day/s from the due date record</h3>
																</div>
																<!-- <div>
																  <p class="statistics-title">Rentals (Walk in)</p>
																  <h3 class="rate-percentage">₱<span id="totalWalkin"></span><br />this year</h3>
																  <p id="totalWalkinper" class="d-flex"></p>
																</div>
																<div>
																  <p class="statistics-title">Rentals (Cash on delivery)</p>
																  <h3 class="rate-percentage">₱<span id="totalCOD"></span><br />this year</h3>
																  <p id="totalCODper" class="d-flex"></p>
																</div>
																<div class="d-none d-md-block">
																  <p class="statistics-title">Total Rental Revenue</p>
																  <h3 class="rate-percentage">₱<span id="totalTR"></span><br />this year</h3>
																  <p id="totalTRper" class="d-flex"></p>
																</div> -->
															</div>
															<div class="template-demo d-flex justify-content-between flex-nowrap">
																<button type="button" class="btn btn-info btn-icon-text" onclick="sessionStorage.page=0;location.reload();">
																	<i class="icon-logout"></i> Logout                                                                            
																</button>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>