#loginPage,
#resetPasswordPage {
    display: flex;
    justify-content: center;
    width: 100vw;
    min-height: 100vh;
}
.loginBox {
    position: relative;
    width: 380px;
    height: 420px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .3);
}
.loginBox::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#454545,#454545);
    animation: borderLine 6s linear infinite;
}
.loginBox::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 420px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#454545,#454545);
    animation: borderLine 6s linear infinite;
    animation-delay: -3s;
}
.loginForm {
    position: absolute;
    inset: 2px;
    background: white;
    z-index: 10;
    border-radius: 20px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.loginForm h2{
    color: #454545;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.12345em;
}
.loginForm .loginInputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.loginForm .loginInputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: .05em;
    z-index: 10;
}
.loginForm .loginInputBox span {
    position: absolute;
    left: 0;
    padding: 20px 5px 10px;
    font-size: 1em;
    color: #adb5bd;
    pointer-events: none;
    letter-spacing: .05em;
    transition: .5s;
}
.loginForm .loginInputBox input:valid ~ span,
.loginForm .loginInputBox input:focus ~ span {
    color: #23242a;
    transform: translateX(-5px) translateY(-34px);
    font-size: .8em;
}
.loginForm .loginInputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #adb5bd;
    border-radius: 4px;
    pointer-events: none;
    letter-spacing: .05em;
    transition: .5s;
    z-index: 9;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .3);
}
.loginForm .loginInputBox input:valid ~ i,
.loginForm .loginInputBox input:focus ~ i {
    height: 44px;
}
.loginForm .loginLinks {
    display: flex;
    justify-content: space-between;
}
.loginForm .loginLinks a {
    margin: 10px 0;
    font-size: .75em;
    color: #adb5bd;
    text-decoration: none;
}
.loginForm .loginLinks a:hover {
    color: #23242a;
    font-weight: 600;
}
.loginForm input[type='submit'] {
    border: none;
    outline: none;
    background: #adb5bd;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .3);
}
.loginForm input[type='submit']:active {
    opacity: .7;
}
.loginForm input[value='Send Email'] {
    width: 150px;
}

/* for registration css */
#loginPage,
#resetPasswordPage {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    min-height: 100vh;
    
}
.loginBox2 {
    position: relative;
    width: 380px;
    height: 720px;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .3);
}
.loginBox2::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 720px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#454545,#454545);
    animation: borderLine 6s linear infinite;
}
.loginBox2::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 720px;
    transform-origin: bottom right;
    background: linear-gradient(0deg,transparent,#454545,#454545);
    animation: borderLine 6s linear infinite;
    animation-delay: -3s;
}
.loginForm2 {
    position: absolute;
    inset: 2px;
    background: white;
    z-index: 10;
    border-radius: 20px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
}
.loginForm2 h2{
    color: #454545;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.12345em;
}
.loginForm2 .loginInputBox {
    position: relative;
    width: 300px;
    margin-top: 35px;
}
.loginForm2 .loginInputBox input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: .05em;
    z-index: 10;
}
.loginForm2 .loginInputBox span {
    position: absolute;
    left: 0;
    padding: 20px 5px 10px;
    font-size: 1em;
    color: #adb5bd;
    pointer-events: none;
    letter-spacing: .05em;
    transition: .5s;
}
.loginForm2 .loginInputBox input:valid ~ span,
.loginForm2 .loginInputBox input:focus ~ span {
    color: #23242a;
    transform: translateX(-5px) translateY(-34px);
    font-size: .8em;
}
.loginForm2 .loginInputBox i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #adb5bd;
    border-radius: 4px;
    pointer-events: none;
    letter-spacing: .05em;
    transition: .5s;
    z-index: 9;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .3);
}
.loginForm2 .loginInputBox input:valid ~ i,
.loginForm2 .loginInputBox input:focus ~ i {
    height: 44px;
}
.loginForm2 .loginLinks {
    display: flex;
    justify-content: space-between;
}
.loginForm2 .loginLinks a {
    margin: 10px 0;
    font-size: .75em;
    color: #adb5bd;
    text-decoration: none;
}
.loginForm2 .loginLinks a:hover {
    color: #23242a;
    font-weight: 600;
}
.loginForm2 input[type='submit'] {
    border: none;
    outline: none;
    background: #adb5bd;
    padding: 11px 25px;
    width: 100px;
    margin-top: 10px;
    border-radius: 4px;
    font-weight: 600;
    box-shadow: 1px 4px 8px 1px rgba(0, 0, 0, .3);
}
.loginForm2 input[type='submit']:active {
    opacity: .7;
}
.loginForm2 input[value='Send Email'] {
    width: 150px;
}

.registrationContent{
    height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
}

@keyframes borderLine {
    0% {
        transform: rotate(0deg);
    }100% {
        transform: rotate(360deg);
    }
}